@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700');

html {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

body {

}

#particles,
#gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#particles {
  z-index: -3;
}

#gradient {
  z-index: -4;
}


/*.video-container {
  position: relative;
}*/


/*video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}*/



.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  pointer-events: none;
  text-align: left;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: 2vmin;
}

.header .about h1 {
  font-weight: 700;
  font-size: 5vmin;

}

.header .about h2 {
  font-weight: 700;
  font-size: 3vmin;

}

.header .about p {
  font-size: 2vmin;
}

.header .about i {
  font-style: italic;
  font-weight: 300;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;

}

.header .logo {
  display: flex;
  flex-basis: auto;
}

.header img {
  height: 50vmin;
  
}

.header .about {
  margin-top: 3vmin;
  margin-left: -4vmin;
  color: black;
  font-size: 3vmin;
}

.header .links {
  
  display: flex;
  font-size: 5vmin;
  pointer-events: all;
}




/* Links */

.links {

}

.links li {
  /* List */
  list-style-type: none;

  -moz-animation: nav-icons 0.5s ease-in-out forwards;
  -webkit-animation: nav-icons 0.5s ease-in-out forwards;
  -ms-animation: nav-icons 0.5s ease-in-out forwards;
  animation: nav-icons 0.5s ease-in-out forwards;
  
  display: inline-block;
  opacity: 0;
  padding: 1vmin;
}

.links nav a:hover {
  font-size: 1em;
}

.links nav a:hover:before {

  color:white; 
  -o-transition:color .5s ease-out;
  -ms-transition:color .5s ease-out;
  -moz-transition:color .5s ease-out;
  -webkit-transition:color .5s ease-out;

}

/*.links nav a:active {
  font-size: 0.9em;
}

.links nav a:active:before {


  color: red;
}*/

.links nav li:nth-child(1) {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.links nav li:nth-child(2) {
  -moz-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.links nav li:nth-child(3) {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}

.links nav li:nth-child(4) {
  -moz-animation-delay: 1.25s;
  -webkit-animation-delay: 1.25s;
  -ms-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.links nav li:nth-child(5) {
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.links nav li:nth-child(6) {
  -moz-animation-delay: 1.75s;
  -webkit-animation-delay: 1.75s;
  -ms-animation-delay: 1.75s;
  animation-delay: 1.75s;
}

.links nav li:nth-child(7) {
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
}

.links nav li:nth-child(8) {
  -moz-animation-delay: 2.25s;
  -webkit-animation-delay: 2.25s;
  -ms-animation-delay: 2.25s;
  animation-delay: 2.25s;
}

.links nav li:nth-child(9) {
  -moz-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.links nav li:nth-child(10) {
  -moz-animation-delay: 2.75s;
  -webkit-animation-delay: 2.75s;
  -ms-animation-delay: 2.75s;
  animation-delay: 2.75s;
}

.links nav li:nth-child(11) {
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}

.links nav li:nth-child(12) {
  -moz-animation-delay: 3.25s;
  -webkit-animation-delay: 3.25s;
  -ms-animation-delay: 3.25s;
  animation-delay: 3.25s;
}

@-moz-keyframes nav-icons {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes nav-icons {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-ms-keyframes nav-icons {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes nav-icons {
  0% {
    -moz-transform: translate3d(0, 1em, 0);
    -webkit-transform: translate3d(0, 1em, 0);
    -ms-transform: translate3d(0, 1em, 0);
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


/* Icons */

.icon {
  text-decoration: none;
  position: relative;
  top: 0;
  left: 0;
  color: #000;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon>.label {
  display: none;
}
